main {
    text-align: center;
    padding-top: 10px;
}
section img {
    max-width: 100%;
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}