ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: currentColor;
    color: #1E90FF;
    text-decoration: none;
}
a:hover {
    color: #FF4500;
    text-decoration: underline;
}
a:visited {
    color: #6A5ACD; 
}
a:active {
    color: #DC143C;
}
main h2 {
    display: inline-block;
    vertical-align: middle; /* Align the text vertically */
}